@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700|Thasadith');
* {
    --bg-sand: rgb(37, 0, 22);
    --highlight: #37CEAB;
    --extra-highlight: rgb(102, 255, 219);
    --text-color: #F4F4F4;
    --cnn: #cc0000;
    --hover-cnn: #eb2727;
    --msk: #1C73CA;
    --hover-msk: rgb(54, 142, 231);
}

section{
    letter-spacing: 1px;
    max-width: 800px; 
    margin: 0 auto; 
}

body {
    box-sizing: border-box;
    background-color: var(--bg-sand);
    display: block;
    max-width: 960px;
    margin: 0 auto;
    /* height: calc(100vh/2); */
    margin-top: 5vh;
}

.main-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: auto 0;
}

.head-text {
    color: var(--text-color);
    font-size: 2em;
    font-family: 'Thasadith', sans-serif;
    box-sizing: border-box;
    margin-bottom: 0;
}


.major {
    margin-top: -25px;
    padding: 0 0 30px 0;
    color: var(--highlight);
    font-size: 5.5em;
    font-family: 'Noto Serif',
    serif;
    letter-spacing: -1px;
}

.subhead-text {
    font-family: 'Thasadith', sans-serif;
    font-size: 1.5em;
    color: var(--text-color); 
    letter-spacing: 0px;
    cursor: default;
}

.nav {
    box-sizing: border-box;
    font-family: 'Thasadith', sans-serif;
    display: inline-block;
    width: 100%;
}

#vfa {
    font-weight: bold;
    color: white;
    text-decoration: none;
}
#vfa:hover {
    color: var(--highlight);
    transition: color .3s ease-in;
}

#msk {
    font-weight: bold;
    color: var(--msk);
}
#msk:hover {
    color: var(--hover-msk);
    transition: color .3s ease-in;
}
#cnn {
    font-weight: bold;
    color: var(--cnn);
}
#cnn:hover {
    color: var(--hover-cnn);
    transition: color .3s ease-in;
}
.availability {
    font-family: 'Thasadith',
    sans-serif;
    font-size: 1.3em;
    color: var(--text-color);
}


.nav-list {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-left: 0;

}

.nav-list li {
    flex: 1 0 auto;
    flex-direction: row;
    font-size: 2em;
    text-decoration: none;
    justify-content: space-evenly;
    padding-bottom: 1em;
}

a {
    flex: 1;
    text-decoration: none;
    color: var(--text-color);
    cursor: default;    
}

a:hover {
    color: var(--highlight);
    transition: color 0.3s ease;
}

/* Highlights  */

/* 
.highlight-reel {
    display: flex;
}
.column {
    color: var(--text-color);
    flex: 50%;
    font-family: 'Thasadith',
    sans-serif;
    font-size: 2em;    
}

.highlight-reel>svg {
    width: 10%;
    height: 50%;
} */

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    body {
        margin-top: 2.5vh;
    }
    a {
        color: var(--highlight);
    }
    .section {
        margin: 0 auto;
        text-align: center;
    }
    .major {
        font-size: 3em;
    }
    .main-page {
        margin: 0 auto;
        text-align: center;
    }
    .head-text {
        margin-top: 0;
    }
    .subhead-text {
        font-size: 1.5em;
        text-align: left;
        padding: 0px 10px 10px 10px;
    }
    .availability {
        font-size: 1em;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-list {
        padding-top: 0px;
        text-align: center;
    }
    .nav-list li {
        font-size: 1.3em;
    }
    .nav-list li:first-child {
        display: none;
    }
}